/* SCSS HEX */
$rich-black-fogra-29: #04080fff;
$glaucous: #507dbcff;
$baby-blue-eyes: #a1c6eaff;
$light-steel-blue: #bbd1eaff;
$gainsboro: #dae3e5ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #04080fff, #507dbcff, #a1c6eaff, #bbd1eaff, #dae3e5ff);
$gradient-right: linear-gradient(90deg, #04080fff, #507dbcff, #a1c6eaff, #bbd1eaff, #dae3e5ff);
$gradient-bottom: linear-gradient(180deg, #04080fff, #507dbcff, #a1c6eaff, #bbd1eaff, #dae3e5ff);
$gradient-left: linear-gradient(270deg, #04080fff, #507dbcff, #a1c6eaff, #bbd1eaff, #dae3e5ff);
$gradient-top-right: linear-gradient(45deg, #04080fff, #507dbcff, #a1c6eaff, #bbd1eaff, #dae3e5ff);
$gradient-bottom-right: linear-gradient(135deg, #04080fff, #507dbcff, #a1c6eaff, #bbd1eaff, #dae3e5ff);
$gradient-top-left: linear-gradient(225deg, #04080fff, #507dbcff, #a1c6eaff, #bbd1eaff, #dae3e5ff);
$gradient-bottom-left: linear-gradient(315deg, #04080fff, #507dbcff, #a1c6eaff, #bbd1eaff, #dae3e5ff);
$gradient-radial: radial-gradient(#04080fff, #507dbcff, #a1c6eaff, #bbd1eaff, #dae3e5ff);